// fonts
$basefont: var(--font-bubblegum-sans);

// colors
$white: white;
$black: black;

$baseclr: #F5F5DC;
$darkclr: #5f3511;

$bodybg: #F5F5DC;
// $bodybg: #fcb045;

$headerbg: #F5F5DC;

// zindexes

$header: 991;
$sidebar: 994;
$loader: 1070;